@charset "UTF-8";

/* Typical Device Breakpoint
----------------------------
Pequenas: até 600px
Celular: 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width:768px) and (max-width:992px){

    section#login {
        width: 80vw;
        height: 298px;
    }

    #formulario > h1 {
        padding: 12px 0px;
    }
}

@media screen and (min-width:992px){
    section#login {
        width: 80vw;
        height: 350px;
    }

    #formulario > h1 {
        padding: 30px 0px;
    }
}
